/* Base styles for the button */
.button {
  align-items: center;
  background-color: var(--color-btn-primary);
  border-radius: 0.5rem;
  color: var(--color-text-secondary);
  cursor: pointer;
  display: flex;
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 700;
  gap: 0.5rem;
  height: 48px;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

/* Size variants */
.button-size-1 {
  width: 250px;
}

.button-size-2 {
  width: 100%;
}

/* DESKTOP */
@media (min-width: 1024px) {
  .button:hover {
    background-color: var(--color-hover-btn-primary);
    scale: 1.01;
    transition: scale 0.08s ease-in-out;
  }
}
