/* general settings */
:root {
  --color-background-primary: #171413;
  --color-background-secondary: #1c1918;
  --color-background-tertiary: #e5e5e5;
  --color-border: #3e3d3d;
  --color-box-shadow: #00000033;
  --color-btn-primary: #76d100;
  --color-btn-secondary: #f02f4c;
  --color-btn-tertiary: #1fc468;
  --color-hover-btn-primary: #8ef606;
  --color-logo: #d301fa;
  --color-overlay: #00000099;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #012939;
  --color-text-tertiary: #a1a1aa;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
  transition: all 0.02s linear;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: var(--font-primary);
}

/* applies styles to parts of the document
that were selected by the user */
*::selection {
  background: var(--color-text-primary);
  color: var(--color-logo);
}
